<meta charset="utf-8">
<h1>AJAX clássico</h1>
<button id="btnCarregar">
    Carregar
</button>
<div class="conteudo">

</div>

<script>

    const btnCarregar = document.querySelector('#btnCarregar');
    const divConteudo = document.querySelector('.conteudo');

    btnCarregar.addEventListener('click', function() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '02-dom.html');
        xhr.send();
        btnCarregar.disabled = true;

        xhr.addEventListener('load', function() {
            btnCarregar.disabled = false;
            divConteudo.innerHTML = xhr.responseText;
        });

        xhr.addEventListener('error', function() {
            btnCarregar.disabled = false;
            divConteudo.innerHTML = 'Erro ao carregar informações!';
        });
    });

</script>