<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <!-- build:css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/container.css">
    <link rel="stylesheet" href="css/opcoesDaPagina.css">
    <link rel="stylesheet" href="css/opcoesDoCartao.css">
    <link rel="stylesheet" href="css/botaoSync.css">
    <link rel="stylesheet" href="css/mural.css">
    <link rel="stylesheet" href="css/cabecalho.css">
    <link rel="stylesheet" href="css/cartao.css">
    <link rel="stylesheet" href="css/formNovoCartao.css">
    <!-- endbuild -->
    <title>Ceep</title>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="iconeEditar" viewBox="0 0 384 384"><title>Editar</title><path fill="rgba(0,0,0,.5)" d="M378 86l-39 39-80-80 39-39q6-6 15-6t15 6l50 50q6 6 6 15t-6 15zM0 304L236 68l80 80L80 384H0v-80z"/></symbol>
      <symbol id="iconeRemover" viewBox="0 0 32 32"><title>Remover</title><path fill="rgba(0,0,0,.5)" d="M6 32h20l2-22H4zM20 4V0h-8v4H2v6l2-2h24l2 2V4H20zm-2 0h-4V2h4v2z"/></symbol>
      <symbol id="iconeSincronizar" viewBox="0 0 384 384"><title>Sincronizar</title><path fil="rgba(255,255,255,.5)" d="M327.731 172.734c5.938 40.859-6.531 83.891-38.406 115.297-47.094 46.469-119.75 52.188-173.188 17.281l37.438-36.5-137.595-19.188 19.203 134.375 42.015-40.25c75.453 55.625 182.469 50.375 251.032-17.281 39.75-39.219 57.875-91.281 55.625-142.656l-56.125-11.078zM94.73 96.031c47.078-46.469 119.719-52.219 173.156-17.281l-37.5 36.484 137.594 19.203-19.188-134.438-41.969 40.344c-75.469-55.672-182.453-50.359-251.031 17.281-39.75 39.203-57.859 91.266-55.625 142.625l56.125 11.063c-5.938-40.875 6.563-83.859 38.438-115.281z"></path></symbol>
    </svg>
  </head>
  <body>
    <header class="cabecalho container">
      <h1 class="cabecalho-logo">
        Ceep
      </h1>
      <div class="opcoesDaPagina">
        <input type="search" id="busca" placeholder="busca" class="opcoesDaPagina-opcao" />
        <button id="btnMudaLayout" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
          Linhas
        </button>
        <button id="btnAjuda" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
          ?
        </button>
        <button id="btnSync" class="opcoesDaPagina-opcao opcoesDaPagina-botao botaoSync botaoSync--sincronizado">
          <svg class="botaoSync-icone">
            <use xlink:href="#iconeSincronizar"></use>
          </svg>
        </button>
      </div>
    </header>

    <form class="formNovoCartao container">
      <textarea class="formNovoCartao-conteudo" name="formNovoCartao-conteudo" placeholder="Digite aqui"></textarea>
      <input class="formNovoCartao-salvar" type="submit" value="Salvar">
    </form>

    <section class="container mural" style="font-size: 1.3rem;">

    </section>

    <!-- TEMPLATE CARTÃO -->
    <template id="template-cartao">
      <article tabindex="0" class="cartao">
        <div class="opcoesDoCartao">
          <button class="opcoesDoCartao-remove opcoesDoCartao-opcao" tabindex="0">
            <svg><use xlink:href="#iconeRemover"></use></svg>
          </button>

          <input type="radio" name="corDoCartao{{NUMERO_CARTAO}}" value="#EBEF40" id="corPadrão-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-radioTipo" checked>
          <label for="corPadrão-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-tipo opcoesDoCartao-opcao" style="color: #EBEF40;" tabindex="0">
            Padrão
          </label>

          <input type="radio" name="corDoCartao{{NUMERO_CARTAO}}" value="#F05450" id="corImportante-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-radioTipo">
          <label for="corImportante-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-tipo opcoesDoCartao-opcao" style="color: #F05450;" tabindex="0">
            Importante
          </label>

          <input type="radio" name="corDoCartao{{NUMERO_CARTAO}}" value="#92C4EC" id="corTarefa-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-radioTipo">
          <label for="corTarefa-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-tipo opcoesDoCartao-opcao" style="color: #92C4EC;" tabindex="0">
            Tarefa
          </label>

          <input type="radio" name="corDoCartao{{NUMERO_CARTAO}}" value="#76EF40" id="corInspiração-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-radioTipo">
          <label for="corInspiração-cartao{{NUMERO_CARTAO}}" class="opcoesDoCartao-tipo opcoesDoCartao-opcao" style="color: #76EF40;" tabindex="0">
            Inspiração
          </label>
        </div>
        <p class="cartao-conteudo" contenteditable tabindex="0">
          {{CONTEUDO_CARTAO}}
        </p>
      </article>
    </template>
    
    <!-- Scripts da Aplicação -->
    <script src="js/app.js" type="module"></script>
  </body>
</html>