<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <h1 class="display-4 mb-3 mt-3">Blog</h1>
    <button class="btn btn-primary">
        Carregar Posts
    </button>
    <hr>
    <div class="posts-blog d-flex justify-content-around align-items-start flex-wrap">
        <!-- carregar os posts do blog aqui -->
    </div>
</div>

<script>

    // Insira sua lógica aqui
    const btn = document.querySelector('.btn');
    const divPosts = document.querySelector('.posts-blog');

    btn.addEventListener('click', async function() {
        divPosts.innerHTML = '';
        const respostaServidor = await fetch('https://jsonplaceholder.typicode.com/posts');
        const listaDePosts = await respostaServidor.json();

        for (let post of listaDePosts)
        {
            const div = document.createElement('div');
            div.classList.add('card', 'mb-3', 'w-100');
            div.innerHTML = `
                <div class="card-header">
                    ${post.title}
                </div>
                <div class="card-body">
                    ${post.body}
                </div>
            `;
            divPosts.append(div);
        }
    });

</script>